<h1>Word counting service</h1>
<h2>Free service offerd by PAIK</h2>
<h2 style="text-align: center;"><img src="외국인 소통 4.jpg" width=350> <img src="외국인 모임1.jpg" width=350> <img src="외국인 모임 2.jpg" width=350> <img src="외국인 모임3.jpg" width=350> <img src="외국인 모임4.jpg" width=350>
<img src="외국인 소통 3 스페니시.jpg" width=350></h2>

<a href="{% url 'about' %}">ABOUT</a>

<h2 style="text-align: center;"><form action="{% url 'about' %}">
    <textarea cols="70" rows="40" name="fulltext"></textarea>
    <br>
    <input type="submit" value="Count!" />
</form> 
</h2>